
body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
}

input {
  display: block;
  margin: 5px auto;
  height: 25px;
  width: 300px;
  font-size: 16px;
  line-height: 25px;
  padding: 0 5px;
  font-family: 'Raleway', sans-serif;
}

button {
  height: 30px;
  width: 200px;
  margin: 5px 0;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 33, 39);
  font-family: 'Shadows Into Light', cursive;
  line-height: 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

h1, h2, h3, h4 {
  margin: 0;
}

.header {
  position: fixed;
  height: 135px;
  top: 0;
  width: 100%;
  z-index: 10;
}

.banner {
  height: 30px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 41);
  border-top: 2px solid rgb(236, 33, 39);
  font-size: 24px;
  line-height: 30px;
  padding: 5px 20px;
}

.search-container {
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(231, 231, 231);
  padding-top: 5px;
}

.blog-post-container {
  position: relative;
  top: 135px;
  text-align: center;
}

.fa-tumblr-square {
  font-size: 36px;
  position: fixed;
  bottom: 25px;
}

.blog-title {
  color: rgb(236, 33, 39)
}

.blog-post-list {
  list-style-type: none;
  width: 95%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.blog-post-list-item {
  display: inline-block;
  box-sizing: border-box;
  width: calc(33.3% - 20px);
  min-width: 300px;
  margin: 10px;
  vertical-align: top;
  border: 1px solid rgb(0, 0, 0);
}

.blog-post-list-item * {
  font-family: 'Raleway', sans-serif;
}

.blog-link, .blog-post-list-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.blog-post-info {
  text-align: left;
  padding: 5px 10px;
}

.blog-post-title {
  /*height: 45px;*/
}

.blog-post-date {
  color: rgb(119, 119, 119);
}

.blog-post-image {
  height: 150px;
  width: auto;
}

