<!DOCTYPE html>
<html lang="en" ng-app="tumblr">
<head>
  <meta charset="UTF-8">
  <title>Tumblr Shocase</title>

  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Raleway' rel='stylesheet' type='text/css'>

</head>
<body ng-controller="MainCtrl">

  <div class="header">
    <span class="header-title">Tumblr Shocase</span>
    <form class="search-container" ng-submit="loadPosts()">
      <input  class="search-input" type="text" ng-model="searchText" 
              placeholder="Search for a Tumblr like 'colorwheelie'">
      <button class="search-button">Display Posts</button>
    </form>
  </div>

  <div class="blog-post-container">
    <h1 class="blog-title">{{blog.title}}</h1>
    <ul class="blog-post-list"
        infinite-scroll="loadPosts(true)" 
        infinite-scroll-disabled="waiting" 
        infinite-scroll-distance="0.5"> 
      <li class="blog-post-list-item" ng-repeat="post in blog.posts track by post.id">
        <a ng-href="{{post.url}}" target="_blank">
          <div class="blog-post-info">
            <h3 class="blog-post-title">{{post['photo-caption']}}</h3>
            <h4 class="blog-post-date">{{post.date | amCalendar}}</h4>
          </div>
          <img  class="blog-post-image"
                ng-show="post['photo-url-400']" 
                ng-src="{{post['photo-url-400']}}" alt="post_image">
          <i class="fa fa-tumblr-square blog-post-image-replacement" ng-hide="post['photo-url-400']"></i>      
        </a>
      </li>
    </ul>
    <i class="fa fa-tumblr-square no-posts" ng-hide="blog.title"></i>
  </div>

<!-- Bower Components -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.min.js"></script>

<!-- JavaScript -->
<script src="app.js"></script>
<script src="services/service-api.js"></script>
<script src="controllers/controller-main.js"></script>
  
</body>
</html>